<%= form_with(model: hero, local: true) do |form| %>
  <% if hero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

      <ul>
      <% hero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, id: :hero_nickname %>
  </div>

  <div class="field">
    <%= form.label :rank %>
    <%= form.text_field :rank, id: :hero_rank %>
  </div>

  <div class="field">
    <%= form.label :charisma %>
    <%= form.text_field :charisma, id: :hero_charisma %>
  </div>

  <div class="field">
    <%= form.label :wisdom %>
    <%= form.text_field :wisdom, id: :hero_wisdom %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
