<p id="notice"><%= notice %></p>






<h1>Heros</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Rank</th>
      <th>Charisma</th>
      <th>Wisdom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= hero.nickname %></td>
        <td><%= hero.rank %></td>
        <td><%= hero.charisma %></td>
        <td><%= hero.wisdom %></td>
        <td><%= link_to 'Show', hero %></td>
        <td><%= link_to 'Edit', edit_hero_path(hero) %></td>
        <td><%= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hero', new_hero_path %>
