<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @hero.nickname %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @hero.rank %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @hero.charisma %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @hero.wisdom %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heros_path %>
